<!DOCTYPE html>
<html lang="<%- lang_code %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Name The Song Quiz | Gametroleum</title>
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="resources/milligram.min.css">
    <link rel="stylesheet" href="resources/main.css">
</head>
<body>
<main class="wrapper">
    <nav class="navigation">
        <section class="container">
            <h1 class="title">
                <a class="navigation-title" href="./English.html">
                    Name The Song Quiz |
                </a>
                <a class="navigation-title" href="./Polski.html">
                Gametroleum
                </a>
            </h1>
            <ul class="navigation-list float-right">
                <li class="navigation-item"><a class="navigation-link" href="./English.html" data-popover>English</a></li>
                <li class="navigation-item"><a class="navigation-link" href="./Polski.html" data-popover>Polski</a></li>
            </ul>
        </section>
    </nav>

    <section class="container">

        <%- markdown %>

    </section>

</main>
</body>
</html>